/*NEW */
/* ************************* */
@import url("base.css");
/* ************************* */


/* Style the buttons */
.button {

  	color: var(--buttons_text_colour);
  	background-color: var(--buttons_background_color); 


	border-width:var(--border-width);
	border-color: var(--accent_color);
	border-style:var(--border-style);
	border-radius: var(--corner_rounding);

  	text-align: center;
  	text-decoration: none;

  	display: inline-block;

  	font-size: 20px;
}



.button:hover  {
	  color:var(--hover_text_colour); 
	  background-color:var(--hover_background_color); 
	
}

.button.active {
	color: var(--active_text_colour);
 	background-color: var(--active_background_color);
 
}

/* ************************* */




/* Banner Image */
/* ************************* */

.banner {
	width: 100%;
	height: 10vh;
	background: var(--banner_image);
	background-size: cover;
}





/* ************************* */


/* Navigation bar */
/* ************************* */
nav {

       	background: var(--colour);
        text-align: center;
        padding: 10px;
}


nav a {

	color: var(--text_colour);
	background: var(--buttons_background_color); 


	border-color: var(--accent_color);

	border-width:var(--border-width);
	border-style:var(--border-style);

	margin: 0 15px;
	text-decoration: none;
	font-size: 25px;
		
	padding: 5px 10px;
	transition: background 0.3s;

}

nav a:hover {
	color: var(--hover_text_colour);
	background: var(--hover_background_color);
}

/* ************************* */


/* Main Content Area */
/* ************************* */
#contentFrame {
    	width: 100%;
    	height: 80vh;
       
}

/* ************************* */


/* Profile Image */
/* ************************* */
.profile_image  {
  	vertical-align: middle;
  	width: 100px; 
  	height: 100px;
 	border-radius: 50%;
}

/* ************************* */


/* Segment  */
/* ************************* */
.segment {

	border-width:var(--border-width);
	border-color: var(--accent_color);
	border-style:var(--border-style);

  	background: var(--colour);
  	text-align: justify;

  	padding-top: 5px;
  	padding-right: 50px;
  	padding-bottom: 5px;
  	padding-left: 50px;

	margin-left: 2%;
	margin-right: 2%;
	
	border-radius: var(--corner_rounding);
}
/* ************************* */



/* Segment_Title    */
/* ************************* */
h2 {
	border-width:var(--border-width);
	border-color: var(--accent_color);
	border-style:var(--border-style);

	background: var(--colour);
	border-radius: var(--corner_rounding);	
	width: 25%;


	display: block;
	
	margin-top: 1.67em;
	margin-bottom: 0.67em;

	margin-left: 2%;
	margin-right: 2%;
	font-weight: oblique;
	text-align: Center;

        margin: 2;
	padding: 0;
		
	
}




/* ************************* */
body {
	font-family: var(--Body_font_family);
	color:var(--text_colour);


	margin: 0;
	padding: 0;

	background-image: var(--background_image);
	background-size: cover;
   
	height: 100vh;
	padding:0;
	margin:0;
}

 	

audio {	
	border-width:var(--border-width);
	border-color: var(--accent_color);
	border-style:var(--border-style);
	border-radius: var(--corner_rounding);

	width: 100%;
}

audio::-webkit-media-controls-panel {
  	background-color: var(--body_accent_color);
	
}

/* ************************* */
/* Sub Division  */

.outer_column_div:after {
  	content: "";
  	display: table;
  	clear: both;
}

/* ************************* */

/*Two Columns  */

.two_inner_column_div {

  	float: left;
  	width: 50%; 
	padding: 10px;

}

/*three Columns  */
.three_inner_column_div {

  	float: left;
  	width: 33.33%; 
	padding: 10px;

}

/*four Columns  */
.four_inner_column_div {

  	float: left;
  	width: 25%; 
	padding: 10px;

}

/* 20 80 Split columns  */

.Ten_inner_column_div {

  	float: left;
  	width: 40%; 
	padding-right: 25px;

}

.Ninety_inner_column_div {

  	float: left;
  	width: 60%; 
	background: gray;

}

/* ******************** */





/* code_snippet */
/* ************************* */
.code_snippet {

	background: white;
	font-family: 'courier';
	font-size: 20px;

	border-radius: var(--corner_rounding);
	padding-left: var(--corner_rounding);
	padding-top: var(--corner_rounding);
}
/* ******************** */





/* Photography */
/* ************************* */

* {
  box-sizing: border-box;
  border-radius: 10px;

}


/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */

.row,
.row > .column {
  padding: 8px;
}


/* Create three equal columns that floats next to each other */


.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}







